.welcome{
  margin:20px;
  display: flex;
}
.welcome-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.welcome-intro{
  text-align: left;
  font-family: Pretendard;
  font-weight: 600;
  padding-top: 20px;
}
span.welcome-name{
  font-size: max(15px, 4vw);
  font-family: Pretendard;
  font-weight: 400;
  margin-top: 30px;
}
.welcome-teambl{
  margin-top: 30px;
  color: #000;
  font-family: Pretendard;
  font-size: max(25px, 7vw);
  font-weight: 700;
}
label.welcome-outro{
  margin-top: 15px;
  display: inline-block;
  font-size: max(13px, 4vw);
  color: #121212;
  font-family: Pretendard;
  font-weight: 400;
}

button.welcome-nextBtn{
  background-color: #0000b3;
  height: 9vw;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: max(13px, 4vw);
  font-weight: 400;
  margin-top: 25vh;
  font-family: Pretendard;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.welcome-nextBtn:hover{
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 */
  background-color: #f8f9fa; /* 배경색 설정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}

.loading-text {
  font-size: 24px; /* 텍스트 크기 설정 */
  font-weight: bold; /* 텍스트 두께 설정 */
  color: #333; /* 텍스트 색상 설정 */
  line-height: 1.5; /* 줄 간격 설정 */
}

.loading-subtext {
  color: #333; /* 검은색(진한 회색) */
}

.loading-highlight {
  color: #0923A9; /* 파란색 */
}

.welcome-expired {
  margin:20px;
  display: flex;
}

.welcome-expired-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: left;
  display: flex;
  flex-direction: column; 
}

span.welcome-expired-span {
  margin-top: 30px;
  color: #000;
  font-family: Pretendard;
  font-size: max(25px, 7vw);
  font-weight: 700;
}

.welcome-expired-label {
  margin-top: 15px;
  display: inline-block;
  font-size: max(13px, 4vw);
  color: #121212;
  font-family: Pretendard;
  font-weight: 400;
}


button.welcome-exitBtn{
  background-color: #0000b3;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 280px;
  padding: 10px;
}

button.welcome-exitBtn:hover{
  cursor: pointer;
}
